body {font-family: "Lato", sans-serif;}








/*SIDEBAR Menu Lateral*/
.sidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/*SIDEBAR Menu Lateral (Botões)*/
.sidebar button{
    background-color: rgb(0, 0, 0);
    width: 100%;
    border:rgb(0, 0, 0);
    text-align: left;
}


/*SIDEBAR Menu Lateral (Fonte)*/
.sidebar a {
  padding: 6px 8px 6px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}

/*SIDEBAR Menu Lateral (Fonte)*/
.sidebar a:hover {
  color: #0a75e8;
}


/* RESPONSIVIDADE [MENU LATERAL]*/
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 10px;}
  .sidebar a {font-size: 18px;}
}













.inicio {
  margin-left: 190px;
  padding: 0px 15px;
}


/* DEMARCAÇÃO PARA O BOTÃO ATIVO */
.sidebar button.active {
  background-color: rgb(31, 31, 31);
}


.sidebar  a.active {
  color: rgb(0, 72, 255);
}


/*MAIN - Informações iniciais, topo da pagina*/
.main{
  
  margin-left: 190px;
  /* float: center; *//* */ 
  padding: 10px 12px;
  border: 1px solid rgb(255, 255, 255);

  /*border-left: none;*/
  height: 300px;
  left: 90px;

}













/* TABCONTENT - Espaço para a informação Dinamica */

.tabcontent {
  animation: fadeEffect 2s; /* Fading effect takes 1 second */
  width: 100%;
  
}

.tabcontent th{
  padding: 10em; 

}























/* MODAL CODE
*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* FIM DO CODE MODAL*/















.fa {
  color: blueviolet;
 }
 
 .fas {
  color: blueviolet;
  padding: 0px;
 }
 
 
 .btn {
  color: white;
 }
 
 
 .button a:hover{
   color: blueviolet;  
  
 }
 
 a[type=button] {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 1px;
   background-color: blueviolet;  
 }
 
 .tab{
   height: 100%;
   width: 180px;
   position: fixed;
   z-index: 0;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   padding-top: 75px;
 }
 
 .tabselect{
   width: 100%;
   height: 3em;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid blueviolet;
   border-radius: 1px;
   background-color: blueviolet; 
   color: white;
 }
 
  
 /* ABERTURA DE CHAMADOS */
 .table-responsive{
     height: 700px;
     overflow-y: auto;
     width: 100%;     
 }
 
 .table-responsive td{  
     padding-left: 25px;    
 }
 
 .lista-geral{
   width: 100%;
   height: 100%;
   margin-top: 2em;
 }
 
 .table-title thead > tr > th { /* TODA INFORMAÇÃO SOBRE O CABEÇALHO */
   text-align: left;
   background: white;  
   color: blueviolet;
 }
 
